* {
  box-sizing: border-box;
  font-family: Source Sans Pro;
  font-style: normal;
}

input, textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

a, button {
  cursor: pointer;
}

.container {
  max-width: calc( 100% - 7em);
  margin: auto;
}

.error {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #FF8484;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: -0.02em;
}

.add-inval {
  border: 1px solid #FF8484;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 95%;
  }
}

.added-product__wrapper {
  display: flex;
  justify-content: space-between;
}

.added-product__wrapper_cards {
  width: 100%;
}

.added-product__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #3F3F3F;
}

.added-product__sorting {
  position: relative;
  display: flex;
  align-items: center;
  width: 122px;
  max-height: 36px;
  padding: 10px 16px;
  margin-top: 16px;
  list-style: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
  cursor: pointer;
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.added-product__sorting:hover {
  color: #948383;
}

.added-product__sorting::after {
  position: absolute;
  right: 12px;
  transform: rotate(45deg);
  content: "";
  width: 5px;
  height: 5px;
  border-bottom: 1px solid #B4B4B4;
  border-right: 1px solid #B4B4B4;
}

.added-product__sorting__item {
  display: none;
}

.added-product__sorting__item__visible {
  display: block;
}

@media screen and (max-width: 768px) {
  .added-product__wrapper_cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .added-product__wrapper {
    justify-content: center;
  }
  .added-product__sorting {
    position: absolute;
    top: 35%;
  }
}

.add-board {
  padding: 24px;
  max-width: 332px;
  width: 24%;
  height: 440px;
  background: #FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

.add-board__part {
  position: relative;
  display: flex;
  flex-direction: column;
}

.add-board__name {
  position: relative;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: #49485E;
}

.add-board__name_val::after {
  content: '';
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  background: #FF8484;
  border-radius: 4px;
}

.add-board__field, .add-board__area {
  margin-bottom: 16px;
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 16px;
  appearance: textfield;
}

.add-board__field::placeholder, .add-board__area::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
}

.add-board__field:hover, .add-board__area:hover {
  box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.1);
}

.add-board__field:focus, .add-board__area:focus {
  border: 1px solid #afafba;
  box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.1);
}

.add-board__area {
  height: 108px;
}

.add-board__button {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #B4B4B4;
  background: #EEEEEE;
  border-radius: 10px;
  border: none;
}

.add-board__button_create {
  background: #7BAE73;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .add-board {
    width: 50%;
    margin-right: 12px;
  }
}

@media screen and (max-width: 768px) {
  .add-board {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }
}

.cards-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 74.5%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32%;
  max-width: 332px;
  min-height: 420px;
  padding-bottom: 24px;
  margin-bottom: 16px;
  color: #3F3F3F;
  background: #FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  cursor: pointer;
}

.card:hover, .card:focus {
  box-shadow: 10px 30px 40px rgba(0, 0, 0, 0.04);
  transform: scale(1.03);
  transition: all 0.3s ease-out;
}

.card__image {
  background-size: cover;
  height: 200px;
}

.card__content {
  padding: 0 16px;
}

.card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card__info {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}

.card__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.card__basket {
  position: absolute;
  display: none;
  right: -8px;
  top: -8px;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #FF8484;
}

.card__basket_visible {
  display: flex;
}

.card__basket:hover, .card__basket:focus {
  animation: swing 0.6s ease;
  animation-iteration-count: 1;
}

@keyframes swing {
  15% {
    transform: translateX(3px);
  }
  30% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  65% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1200px) {
  .cards-grid {
    justify-content: space-around;
    padding-top: 5px;
  }
  .card {
    width: 100%;
    max-width: 332px;
    margin-right: 6px;
  }
}

@media screen and (max-width: 992px) {
  .cards-grid {
    width: 50%;
  }
  .card {
    max-width: 100%;
    min-height: 220px;
  }
  .card__title {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .card__info {
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 32px;
  }
  .card__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .cards-grid {
    width: 100%;
  }
  .card {
    max-width: 100%;
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */