*
  box-sizing: border-box
  font-family: Source Sans Pro
  font-style: normal

input, textarea
  outline: none
  border: none

a, button
  cursor: pointer

.container
  max-width: calc( 100% - 7em )
  margin: auto
