*, *::before, *::after
  box-sizing: border-box
  font-family: Source Sans Pro
  font-style: normal

body, h1
  margin: 0

input, textarea
  outline: none
  border: none

textarea
  resize: none

a, button
  cursor: pointer

.container
  max-width: calc( 100% - 4em )
  margin: auto

.error
  position: absolute
  left: 0
  bottom: 0
  color: #FF8484
  font-size: 8px
  line-height: 10px
  letter-spacing: -0.02em

.add-inval
  border: 1px solid #FF8484
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1)

@media screen and ( max-width: 576px )
  .container
    max-width: 95%
